{{ $content := .Inner }}
{{ $lines := split $content "\n" }}
<div class="preparation-steps">
  <table>
    <thead>
      <tr>
        <th colspan="2">Étapes de préparation</th>
      </tr>
    </thead>
    <tbody>
      {{ $counter := 0 }}
      {{ range $lines }}
        {{ $trimmed := trim . " " }}
        {{ if $trimmed }}
          {{ $counter = add $counter 1 }}
        <tr>
          <td>{{ $counter }}</td>
          <td>{{ $trimmed }}</td>
        </tr>
        {{ end }}
      {{ end }}
    </tbody>
  </table>
</div>